body {
  /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
  font-family: "Karla", Geneva, sans-serif;
  padding-right: 0px !important;
  padding-left: 0px !important;
  text-align: left !important;
  background-color: #edf0f2;
}

.__lucinda__ ,.__oscar__ {
  padding-right: 5%;
  padding-left: 5%;
}

.site-wrapper-inner {
  vertical-align: middle;
}

body.lucinda-cover{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: "Karla",Geneva, sans-serif;
  /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
}

#browser {
  height:auto; overflow:auto
}
#browser_info{
  min-height: 200px;
  float:left;
  display: inline-block;
  max-width: 70%;
  margin-top: 20px;
  color: #77909c;
  padding: 30px;
}

#browser_header{
  /* border-color: #f2f2f2;
  border-width: 3px;
  border-style: solid;
  padding-bottom: 10px;
  margin-bottom: 10px; */
  border-left:none;
  border-top:none;
  border-right:none;
}

#browser_view div{
  padding: 2%;
  float:left;
}

#browser_view_switch {
  float:right;
  margin-bottom: 10px;
}
#browser_view_switch > li {
  display:inline-block;
}
#browser_view_switch > li + li {
  margin-left: 20px;
}
#browser_view_switch > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: darkgrey; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
#browser_view_switch > li > a:hover {
  background-color: transparent;
  border-bottom-color: darkgrey;
  text-decoration: none;
}
#browser_view_switch > .active > a,
#browser_view_switch > .active > a:hover,
#browser_view_switch > .active > a:focus {
  color: #336699;
  border-bottom-color: #336699 ;
}


.browser-header-tab {
  table-layout: auto;
  border-collapse: collapse;
  border-color: #f2f2f2;
  text-align:left;
  word-wrap:break-word;
}
.browser-header-tab tr:first-child th{
  border: none;
}
.browser-header-tab tr td {
  border-top: none !important;
  font-size: 125%;
}
.browser-header-tab tr th {
  font-size: 230%;
}

.browser-details-tab {
  table-layout: auto;
  border-top:solid;
  border-color: #f2f2f2;
  text-align:left;
  word-wrap:break-word;
  width: 100%;
  border: none !important;
}
.browser-details-tab tr td {
  font-size: 120%;
}
.browser-details-tab tr th {
  font-size: 140%;
}
.browser-details-tab td.resource-info {
  color: #9931FC;
  font-size: 100%;
}

.browser-metrics{
  /* background-color: rgba(243, 230, 255,0.17); */
  display:inline;
  float:right;
  width: 20%;
  min-height: 200px;
  margin-top: 55px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0px 10px 30px 3px rgba(133,66,189,0.1);
  color: #9931FC;
  border-radius: 18px;
  background-color: white;
  /* border-left: solid;
  border-color: #f2f2f2; */
}

.browser-metrics-tab {
  word-wrap:break-word;
  width: 100%;
  /* margin-left:20px;
  table-layout: auto;
  border-collapse: collapse;
  text-align:left;
  word-wrap:break-word;
  border: none !important; */
}
.browser-metrics-tab tr td {
  font-size: 120%;
}
.browser-metrics-tab tr th {
  font-size: 160%;
}

/*customize dynamic elems added*/
.imp-value{
  color: var(--main-bg-color);
  font-size: 145%;
}

.metric-entry{
  font-size: 105%;
}

.header-title{
  font-size: 190%;
  font-weight: 700;
  color:#293439;
}

.header-be::before {
  content: "Bibliographic reference: "
}

.metrics-title{
  font-size: 145%;
}

.__oscar__ {
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0px 10px 30px 3px rgba(133,66,189,0.1);
}

#oscar_nav {
  margin-top:3%;
  padding-left: 30px;
}
#oscar_nav li a{font-size:150%;}
#oscar_nav li {margin-right: 20px;}
#oscar_nav > .active > a,
#oscar_nav > .active > a:hover,
#oscar_nav > .active > a:focus {
  color: black;
  border-bottom-color: grey ;
  background-color: transparent;
}

#loader_container{
  margin-top: 1.5%;
  padding-top: 50px;
}
.oscarLoader{
 color: grey;
 font-size:130%;
}

/*re-define search css components*/
/*modify search css*/
#search{
  padding-top: 2%;
  padding-left: 30px;
}
#search_results{
  width:100%;
  min-height: 500px;
}
.table.tab-footer tr{
  text-align:center;
}
#rows_per_page{
  margin-left:0%;
  margin-right: 10px;
}
:root {
  --main-bg-color: #336699;
  --hover_color: #19334d;
}


/*general fix*/
.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

@media only screen and (max-width: 1200px) {
  #browser {
    width: 100%;
  }
  #browser_info{
    max-width: 100%;
    width: 100%;
  }
  .browser-details{
    width: 100%;
  }
  #browser_header{
    width: 100%;
    padding-bottom: 10px;
    font-size: 80%;
  }
  .browser-metrics{
    margin-top: 3%;
    display:block;
    width: 100%;
    background-color: white;
    border-left: none;
    border-top: solid;
    border-color: #f2f2f2;
  }
  .browser-metrics-tab {
    margin-left:0px;
    table-layout: auto;
    border-collapse: collapse;
  }
  .browser-metrics-tab tr td {
    font-size: 100%;
  }

  #search{
    padding-top: 8%;
  }
  #oscar_nav {
    width: 100%;
    margin-top:0%;
    text-align:center;
    margin-bottom:0%;
  }
  #oscar_nav li a{
    font-size:130%;
  }
}


@media only screen and (max-width: 700px) {
  #oscar_nav {
    width: 100%;
    margin-bottom:5%;
  }

  #browser_view div{
    width: 100%;
    display: block;
  }
}

/* CCC styles */
/*============*/

@charset "UTF-8";

:root {
  --main-bg-color: #9931FC;
  --hover_color: #2D22DE;
  --alert_color: #990000;
}
.browser-header-tab a , .browser-details-tab a {color:#77909c; text-decoration: underline;}

a:hover { color: var(--main-bg-color); text-decoration: none;}

.browser-header-tab tbody tr , .browser-details-tab tr {display: inline-block; padding: 5px 0px 0px 0px; vertical-align: top;}

.browser-header-tab tbody tr:nth-of-type(2),
.browser-header-tab tbody tr:nth-of-type(3),
.browser-header-tab tbody tr:nth-of-type(4),
.browser-header-tab tbody tr:nth-of-type(5), {margin: 0px 20px 10px 10px;}
/* ids and other info */
.browser-header-tab tbody tr:nth-of-type(2) td elem,
.browser-header-tab tbody tr:nth-of-type(3) td elem,
.browser-header-tab tbody tr:nth-of-type(4) td elem,
.browser-header-tab tbody tr:nth-of-type(5) td elem,
.browser-details-tab tbody tr td elem, .cited, .refs, .num_docs {font-family: "Karla", sans-serif; }

/* doi */
.doi_before a:not(:empty)::before {content: "DOI: "; padding-left: 10px; }
/* issn */
.issn_before:not(:empty)::before {content: "ISSN: "; padding-left: 10px;}
/* orcid */
.orcid_before:not(:empty)::before {content: "ORCID: "; padding-left: 10px;}
/* oci */
.oci_before:not(:empty)::before {content: "OCI: "; padding-left: 10px;}
/* intrepid */
.intrepid_before:not(:empty)::before {content: "INTREPID: "; padding-left: 10px;}
/* source xml */
.source_before:not(:empty)::before {content: "EPMC (XML): "; padding-left: 10px;}

/*in article */

.info_box a:not(:empty)::before {font-size: 0.8em; display: block; padding-bottom: 5px; color: #77909c !important;}
.info_box a:not(:empty)::before:hover {color: #77909c !important; }
.in_list a:not(:empty)::before {content: "IN LIST "; }
.in_sentence a:not(:empty)::before {content: "IN SENTENCE "; }
.in_article a:not(:empty)::before {content: "IN ARTICLE "; }
.in_section a:not(:empty)::before {content: "IN SECTION "; }
.in_paragraph a:not(:empty)::before {content: "IN PARAGRAPH "; }
.in_section:has(a:empty) {display: none !important;}
.info_box a:not(:empty) {
  text-decoration: none !important;
  margin-top: 10px;
  display: block !important;
  display: -webkit-box;
  background-color: white !important;
  padding: 20px;
  border-radius: 5px;
  margin-right: 20px;
  white-space: nowrap;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0px 10px 30px 3px rgba(133,66,189,0.1);

}
.citing_article a:not(:empty)::before {content: "CITING "; }
.cited_article a:not(:empty)::before {content: "CITED ";}
.citing_article a, .cited_article a {white-space: normal !important;}
/* title */
.browser-header-tab tbody tr:nth-of-type(7) {display: block !important; }
/* authors */
/* .browser-header-tab tbody tr:nth-of-type(10) {padding-top: 1px;} authors */
/* year */
.journal-data-separator:not(:empty)::before {content: ". ";}

.cited, .refs, .num_docs, .intext_refs {
  font-size:170%;
}

.cited::before, .refs::before ,.num_docs::before, .intext_refs::before {
  color: #77909c; display: block;
  font-size: 60%;
}
/* box citations */
.cited::before {content: "CITATIONS "; }
.refs::before {content: "REFERENCES "; }
.num_docs::before {content: "DOCUMENTS "; }
.intext_refs::before {content: "IN-TEXT REFERENCES";}

/*   */

.doc-type {
  background-color: var(--main-bg-color) ;
  padding: 5px !important;
  border-radius: 5%;
  font-size: 1.2rem;
  color:white !important;
  margin-right: 10px;
}

.doc-type a {color:white !important;}

.no_results * {display: inline-block;}
.no_results { margin-top: 4%; text-align: center; font-family: 'Karla', sans-serif;}
.no_results img {height: 150px; width: auto; }
.no_results p {margin:1%; font-size: 180%; width:25%; font-weight: 700; padding-left: 3%;text-align: left;}

select:focus {
  border-color: rgba(133,66,189,0.1);
  box-shadow: 0px 10px 30px 3px rgba(133,66,189,0.1);
}
